{% extends "base.html.twig" %}

{% block body %}
	<div class="container col-md-8 text-center">
		<h2 class="text-success md-3">Course Name:
			{{ course.name }}</h2>
		<div class="row">

			<div class="col mt-5">
				<img src="{{ course.image }}" width="200" height="200">
			</div>
			<div class="col pt-5">
				<h5 class="text-info">Description:
					{{ course.description }}</h5>
				<div class="col">
					<h5 class="text-warning">Teacher Name:
						{% if course.teachers != null %}
							{% for teacher in course.teachers %}
								<a class="text text-success text-decoration-none" href="{{ path('teacher_detail', {'id' : teacher.id })}}">
									{{ teacher.name }}
								</a>
							{% endfor %}

						{% endif %}
					</h5>
				</div>
				<div class="col">
					<h5 class="text-danger">
						Students participating in the course:
						{% if course.students != null %}
							{% for student in course.students %}
								<a class="text text-success text-decoration-none" href="{{ path('student_detail', {'id' : student.id })}}">
									{{ student.studentId }}
								</a>
							{% endfor %}
						{% endif %}
					</h5>
				</div>

			</div>
		</div>
	</div>
{% endblock %}
