{% extends "base.html.twig" %}

{% block body %}
	<div class="container col-md-8 text-center">
		<h2 class="text-success mb-3">Teacher Name:
			{{ teacher.name }}
		</h2>
		<div class="row">
			<div class="col">
				<img src="{{ teacher.image }}" width="200" height="200">
			</div>
			<div class="col">
				<h5 class="text-info">Teacher Name:
					{{ teacher.name }}</h5>
				<h5 class="text-warning">Email:
					{{ teacher.email }}</h5>
				<h5 class="text-danger">Phone:
					{{ teacher.phone }}</h5>
				<h5 class="text-monospace">Birthday:
					{{ teacher.birthday | date('d/m/Y') }}</h5>
				<h5 class="text-monospace">Course:
					{% if teacher.course != null %}
						{% for course in teacher.course %}
							<a class="text text-success text-decoration-none" href="{{ path('course_detail', {'id' : course.id })}}">{{course.name}} ,</a>
						{% endfor %}
						
					{% endif %}
				</h5>

			</div>
		</div>
	</div>
{% endblock %}
