{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid col-md-8 text-center">
    <h2 class="text text-primary mb-4">Grade List</h2>
    <a class="btn btn-primary mb-3" href="{{ path('add_grade')}}">ADD GRADE</a>
    {# {% if is_granted('ROLE_ADMIN') %}
       <a class="btn btn-primary mb-3" href="{{ path('book_add')}}">ADD</a>
    {% endif %} #}
    {# <form action="{{ path('book_search') }}" method="post">
        <input type="search" name="title" id="">
        <input type="submit" value="Search">
    </form>
     <h3 class="text text-danger mt-3">
    {% set total = books|length %}
    {% if total <= 1 %}
        Total book :
    {% else %}
        Total books :
    {% endif %}
        {{ total }}
    </h3> #}
    <table class="table table-info table-hover mt-5">
        <tr>
            <th>Id</th>
            <th>Student ID</th>
            <th>Course Name</th>
            <th>Grade
                <select onchange="window.location.href=this.value">
                    <option>Sort</option>
                    <option value="{{ path('grade_asc')}}">Ascending</option>
                    <option value="{{ path('grade_desc')}}">Descending</option>
                </select>       
            </th>
            <th>Teacher Name</th>
            {# <th>Book Genre
                <select onchange="window.location.href=this.value">
                    <option value="">Filter</option>
                    {% for genre in genres %}
                        <option value="{{ path('book_filter', {'id' : genre.id}) }}">{{ genre.name }}</option>
                    {% endfor %}
                </select>        
            </th>
            <th>Book Cover</th> #}
            <th>Actions</th>
        </tr>
        {% for grade in grades %}
            <tr>
                <td>{{ grade.id }}</td>
                <td>
                    {% if grade.student != null %}
                        <a class="text text-success text-decoration-none" href="{{ path('student_detail', {'id' : grade.student.id })}}">
                            {{ grade.student.studentId }}
                        </a>   
                    {% endif %}
                </td>
                <td>
                    {% if grade.course != null %}
                        <a class="text text-success text-decoration-none" href="{{ path('course_detail', {'id' : grade.course.id })}}">
                            {{ grade.course.name }}
                        </a>   
                    {% endif %}
                </td>
                <td>{{ grade.grade }}</td>
                <td>
                    {% if grade.teacher != null %}
                        <a class="text text-success text-decoration-none" href="{{ path('teacher_detail', {'id' : grade.teacher.id })}}">
                            {{ grade.teacher.name }} 
                        </a>   
                    {% endif %}
                </td>
                {# <td>
                    <a href="{{ path('student_detail', {'id' : student.id })}}  ">
                        <img src="{{ student.image }}" width=100 height=100>
                    </a>  
                    
                </td> #}

                {# <th>
                    {% if student.genre != null %}
                        <a class="text text-success text-decoration-none" href="{{ path('genre_detail', {'id' : book.genre.id })}}">
                            {{ book.genre.name }}
                        </a>   
                    {% endif %}
                </th>
                <td>
                    <a href="{{ path('book_detail', {'id' : book.id })}}  ">
                        <img src="{{ asset('/images/books/'~book.image) }}" width=100 height=100>
                    </a>   
                </td> #}
                <td>
                    <a class="btn btn-success" href="{{ path('grade_detail', {'id' : grade.id })}}">DETAIL</a>
                    <a class="btn btn-warning" href="{{ path('edit_grade', {'id' : grade.id })}}">EDIT</a>
                    <a class="btn btn-danger"
                    onclick="return confirm('Do you want to delete this student ?');" href="{{ path('delete_grade', {'id' : grade.id })}}"
                    >DELETE</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}